body {
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: Stratum2, Helvetica, sans-serif;
	-moz-user-select: none;
	user-select: none;
	cursor: not-allowed;
}

body > div {
	color: white;
	height: 100vh;
	width: 100vh;
	max-width: 100vh;
	max-height: 100vw;
	position: relative;
	overflow: hidden;
}

#dragarea {
	-webkit-app-region: drag;
	height: calc(96vh - 20px);
	width: calc(96vw - 20px);
	top: 20px;
	left: 20px;
	position: fixed;
	z-index: 1000;
}
