body {
	overflow: hidden;
}

#container {
	-webkit-backface-visibility: hidden;
	transition: transform .025;
}

#radar {
	height: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 1;
	transform: scale(1) translate(0%, 0%);

	will-change: transform;
	outline: .1vmin solid transparent
	-webkit-backface-visibility: hidden;
}

#smokes, #entities {
	position: absolute;
	height: 100%;
	width: 100%;
	bottom: 0;
	left: 0;
	z-index: 2;
}

#smokes > div {
	position: absolute;
	border-radius: 100%;
	opacity: .8;
	background: #9F9D9D;
	box-sizing: border-box;
	transform-origin: center;
	border: #D7D7D7 solid .6vmin;
	transform: translate(-50%, 50%);
	transition: opacity .3s;
}

#smokes > div.hide {
	opacity: 0;
}

#smokes > div.fading {
	transition: opacity 1.8s;
}

#infernos {
	position: absolute;
	height: 100%;
	width: 100%;
	bottom: 0;
	left: 0;
	z-index: 2;
}

.inferno {
	position: absolute;
	height: 100%;
	width: 100%;
	bottom: 0;
	left: 0;
	z-index: 2;
	transition: opacity .3s;
}

.inferno > div {
	position: absolute;
	border-radius: 100%;
	opacity: .75;
	background: #ff4848;
	box-sizing: border-box;
	border: #ce3f00 solid .2vmin;
	transform: translate(-50%, 50%);
	transition: opacity .3s;
}

#siteA, #siteB {
	position: absolute;
	background: #f00;
	opacity: .5;
	display: none;
}

#bomb {
	position: absolute;
	background-image: url("../img/bomb-dropped.png");
	background-size: contain;
	height: 2.2vmin;
	width: 2.2vmin;
	bottom: -30%;
	left: -30%;
	transform: translate(-50%, 50%);
	transform-origin: bottom left;
}

#bomb.defused {
	background-image: url("../img/bomb-defused.png");
	filter: drop-shadow(0 0 .4vmin rgba(0, 255, 0, .3));
}

#bomb.planted {
	background-image: url("../img/bomb-planted.png");
	animation: beep 1s infinite;
}

@keyframes beep {
	0% {
		filter: drop-shadow(0 0 0 rgba(255, 0, 0, 1));
		background-color: rgba(255, 0, 0, 0);
	}
	10% {
		filter: drop-shadow(0 0 1vmin rgba(255, 0, 0, 1));
		background-color: rgba(255, 0, 0, 0.2);
	}
	20% {
		filter: drop-shadow(0 0 1.8vmin rgba(255, 0, 0, 0));
		background-color: rgba(255, 0, 0, 0);
	}
}

div.dot, div.label {
	position: absolute;
	height: 5.6vmin;
	width: 5.6vmin;
	left: -100vw;
	bottom: -100vh;
	display: block;
	background: #f00;
	transform: translate(-50%, 50%);
	transform-origin: 0% 100%;
	border-radius: 100% .2vmin 100% 100%;
	box-shadow: 0 0 1.6vmin .8vmin rgba(0, 0, 0, .2);
	opacity: 1;
	z-index: 15;

	will-change: bottom, left, transform;
	outline: .1vmin solid transparent;
	-webkit-backface-visibility: hidden;
	backface-visibility: initial;
}

div.dot.CT {
	background: #5ab8f4;
}

div.dot.T {
	background: #f0c941;
}

div.dot.bomb {
	border-radius: 2vmin .4vmin 2vmin 2.4vmin;
	background: #FF8200;
}

div.dot.active {
	z-index: 16;
	box-shadow: 0 0 0 .2vmin rgba(0, 0, 0, .9), 0 0 0 1vmin rgba(255, 255, 255, .9), 0 0 2.4vmin 1.2vmin rgba(255, 255, 255, .2);
}

div.dot.dead {
	opacity: .4;
	color: transparent;
	text-shadow: none;
	border-radius: 0;
	clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
	z-index: 13;
	filter: none;
}

div.label {
	background: none;
	text-align: center;
	color: white;
	font-weight: bold;
	text-shadow: 0 0 1.2vmin rgba(255, 255, 255, .2);
	box-shadow: none;
	line-height: 5.6vmin;
	font-size: 4.8vmin;
}

div.label.active {
	z-index: 16;
	font-size: 5vmin;
}

div.label.dead {
	display: none;
}

#advisory {
	position: absolute;
	width: 0%;
	height: 0%;
	background: #f00;
	border-radius: 3vmin 8vmin 8vmin 3vmin;
	background: linear-gradient(to right, #222, #292929);
	color: #000;
	box-shadow: 0 0 .4vmin .3vmin rgba(255, 255, 255, .05);
	display: none;
}

#advisory::before {
	content: "";
	position: absolute;
	top: 10%;
	left: 7%;
	height: 0%;
	width: 0%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

#advisory span {
	position: absolute;
	top: 1000%;
	right: 5%;
	height: 0%;
	width: 0%;
	border-radius: 100%;
	box-sizing: border-box;
	background: #000;
	text-align: center;
	color: #000;
	line-height:2900000vmin;
	font-size: 5vmin;
	font-weight: bold;
}

#advisory.planting::before {
	background-image: url("../img/adv-plant.png");
}

#advisory.planting {
	background: linear-gradient(to right, #AD9A3C, #ECCD37);
	box-shadow: 0 0 .4vmin .3vmin rgba(255,252,0,.2);
}

#advisory.defuse::before {
	background-image: url("../img/adv-defuse.png");
}

#advisory.defuse {
}

#advisory.solesurvivor::before {
	background-image: url("../img/adv-solesurvivor.png");
}

#advisory.solesurvivor {
}

#advisory.planting span, #advisory.defuse span, #advisory.solesurvivor span {
	color: #fff;
}

#unknownMap {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 00%;
	width: 00%;
	background: #000;
	display: none;
	justify-content: center;
	align-items: center;
}
