html
  head
    script(src="/socket.io/socket.io.js")
    script(src="http://code.jquery.com/jquery-2.1.4.min.js")
    script.
      var ip = "#{ip}",
      port = "#{port}",
      _print_player_data = #{print_player_data},
      disp_avatars = #{display_avatars},
      disp_player_avatars = #{display_player_avatars},
      disp_team_flags = #{display_team_flags},
      disp_player_flags = #{display_player_flags},
      _left_image = "#{left_image}",
      _left_primary = "#{left_primary}",
      _left_secondary = "#{left_secondary}",
      _right_image = "#{right_image}",
      _right_primary = "#{right_primary}",
      _right_secondary = "#{right_secondary}",
      special_event = "#{special_event}",
      delay = #{delay};
    script(src="/js/main.js")
    script(src=hud)
    link(rel='stylesheet', href=css)
    link(rel='stylesheet', href=anim)
  body
    section
      #top_panel
        #left_team
          #main TEAM NAME
          #logo
            img#team_logo
          #team_flag
          #best_of
            .bar
            .block1
            .block2
            .block3
            .block4
            .block5
          #score 10
          #alert
            #alert_text
              |ALERT TEXT
            #alert_pole_right
            #bomb_defuse
              #icon
                .kit
              #kit_bar
        #center_section
          #round_timer
            #round_timer_text
              |0:00
          #round_number
            |Ronda Number
        #right_team
          #main TEAM NAME
          #logo
            img#team_logo
          #team_flag
          #best_of
            .bar
            .block1
            .block2
            .block3
            .block4
            .block5
          #score 10
          #alert
            #alert_pole_left
            #alert_text
              |ALERT TEXT
            #bomb_defuse
              #icon
                .kit
              #kit_bar
      #timers
        #bomb_bar
        #defuse_bar
      #alert_middle_holder
        #alert_middle
          #pole_1_middle
          #alert_text_middle
            |ALERT TEXT
          #pole_2_middle
      #observed
        #obs_avatar
          img#obs_img
        #obs_lane1
        #obs_lane2
          #obs_team
            img#obs_team_img
          #obs_alias
            #obs_alias_text
              |PLAYER ALIAS
          #obs_country
            img#obs_country_img
        #obs_lane3
          #obs_lane3_left_pole
          #obs_left_section
            #obs_health_section
              #obs_health_img
              #obs_health_text
                |100
            #obs_armor_section
              #obs_armor_img
              #obs_armor_text
                |100
          #obs_middle_section
            #obs_bomb_kit
            #obs_round_kills
              #obs_skull
              #obs_round_kills_text
            #obs_kills
              #obs_kills_k
                |K
              #obs_kills_text
                |0
            #obs_assists
              #obs_assists_a
                |A
              #obs_assists_text
                |0
            #obs_deaths
              #obs_deaths_d
                |D
              #obs_deaths_text
                |0
            #obs_kd
              #obs_kd_kd
                |K/D
              #obs_kd_text
                |0
          #obs_right_section
            #obs_nades
              #obs_nade1
              #obs_nade2
              #obs_nade3
              #obs_nade4
            #obs_ammo_section
              #obs_clip
                |150
              #obs_reserve
                |/300
          #obs_lane3_right_pole
      #players_left
        #box_section
          #box_top
            #box_img
              img#box_image
            #box_main
              #main_primary
              #main_secondary
          #box_utility
            .box_heading
              #box_heading_text Nivel de Utilidad
              #box_heading_subtext - Poor
            .box_grenades
              .box_nade_1
                #util_nade_1
                #util_nade_1_count x0
              .box_nade_2
                #util_nade_2
                #util_nade_2_count x0
              .box_nade_3
                #util_nade_3
                #util_nade_3_count x0
              .box_nade_4
                #util_nade_4
                #util_nade_4_count x0
          #box_monetary
            .box_equip_value
              #equip_text Valor de equipo
              #equip_value $41250
            .box_team_money
              #money_text Dinero
              #money_value $80000
            .loss_bonus
              .loss_boxes
                .loss_4
                .loss_3
                .loss_2
                .loss_1
              #loss_text Bono
              #loss_value $1900
        #player_section
          #player1
            .player_main_holder
              .player_side_bar
              .player_image_holder
                img#player_image
              .player_section_top
                .player_health_bar
                .player_health
                  #player_health_text 100
                .player_alias
                  #player_alias_text 1| Player Name Here
                .player_weapon_primary
                  img#player_weapon_primary_img
              .player_section_bottom
                .player_armor
                  #player_armor_image
                .player_bomb_kit
                  #player_bomb_kit_image
                .player_current_money
                  #player_current_money_text $16000
                .player_round_kills
                  #player_skull
                  #player_round_kills_text
                .player_nades
                  #player_nade1
                  #player_nade2
                  #player_nade3
                  #player_nade4
                .player_weapon_secondary
                  img#player_weapon_secondary_img
              .player_hindered
                .flashed
                  #flashed_level
                .burning
                  #burning_level
              .player_dead
                .player_dead_k
                  #player_dead_kills_k K
                  #player_dead_kills_text 99
                .player_dead_a
                  #player_dead_assists_a A
                  #player_dead_assists_text 99
                .player_dead_d
                  #player_dead_deaths_d D
                  #player_dead_deaths_text 99
            .player_spec
              #player_spec_bar
            .player_stats_holder
              .player_stats
                .player_kills
                  #player_kills_k K
                  #player_kills_text 99
                .player_assists
                  #player_assists_a A
                  #player_assists_text 99
                .player_deaths
                  #player_deaths_d D
                  #player_deaths_text 99
                .player_spent
                  #player_spent_text -$8450
          #player2
            .player_main_holder
              .player_side_bar
              .player_image_holder
                img#player_image
              .player_section_top
                .player_health_bar
                .player_health
                  #player_health_text 100
                .player_alias
                  #player_alias_text 1| Player Name Here
                .player_weapon_primary
                  img#player_weapon_primary_img
              .player_section_bottom
                .player_armor
                  #player_armor_image
                .player_bomb_kit
                  #player_bomb_kit_image
                .player_current_money
                  #player_current_money_text $16000
                .player_round_kills
                  #player_skull
                  #player_round_kills_text
                .player_nades
                  #player_nade1
                  #player_nade2
                  #player_nade3
                  #player_nade4
                .player_weapon_secondary
                  img#player_weapon_secondary_img
              .player_hindered
                .flashed
                  #flashed_level
                .burning
                  #burning_level
              .player_dead
                .player_dead_k
                  #player_dead_kills_k K
                  #player_dead_kills_text 99
                .player_dead_a
                  #player_dead_assists_a A
                  #player_dead_assists_text 99
                .player_dead_d
                  #player_dead_deaths_d D
                  #player_dead_deaths_text 99
            .player_spec
              #player_spec_bar
            .player_stats_holder
              .player_stats
                .player_kills
                  #player_kills_k K
                  #player_kills_text 99
                .player_assists
                  #player_assists_a A
                  #player_assists_text 99
                .player_deaths
                  #player_deaths_d D
                  #player_deaths_text 99
                .player_spent
                  #player_spent_text -$8450         
          #player3
            .player_main_holder
              .player_side_bar
              .player_image_holder
                img#player_image
              .player_section_top
                .player_health_bar
                .player_health
                  #player_health_text 100
                .player_alias
                  #player_alias_text 1| Player Name Here
                .player_weapon_primary
                  img#player_weapon_primary_img
              .player_section_bottom
                .player_armor
                  #player_armor_image
                .player_bomb_kit
                  #player_bomb_kit_image
                .player_current_money
                  #player_current_money_text $16000
                .player_round_kills
                  #player_skull
                  #player_round_kills_text
                .player_nades
                  #player_nade1
                  #player_nade2
                  #player_nade3
                  #player_nade4
                .player_weapon_secondary
                  img#player_weapon_secondary_img
              .player_hindered
                .flashed
                  #flashed_level
                .burning
                  #burning_level
              .player_dead
                .player_dead_k
                  #player_dead_kills_k K
                  #player_dead_kills_text 99
                .player_dead_a
                  #player_dead_assists_a A
                  #player_dead_assists_text 99
                .player_dead_d
                  #player_dead_deaths_d D
                  #player_dead_deaths_text 99
            .player_spec
              #player_spec_bar
            .player_stats_holder
              .player_stats
                .player_kills
                  #player_kills_k K
                  #player_kills_text 99
                .player_assists
                  #player_assists_a A
                  #player_assists_text 99
                .player_deaths
                  #player_deaths_d D
                  #player_deaths_text 99
                .player_spent
                  #player_spent_text -$8450
          #player4
            .player_main_holder
              .player_side_bar
              .player_image_holder
                img#player_image
              .player_section_top
                .player_health_bar
                .player_health
                  #player_health_text 100
                .player_alias
                  #player_alias_text 1| Player Name Here
                .player_weapon_primary
                  img#player_weapon_primary_img
              .player_section_bottom
                .player_armor
                  #player_armor_image
                .player_bomb_kit
                  #player_bomb_kit_image
                .player_current_money
                  #player_current_money_text $16000
                .player_round_kills
                  #player_skull
                  #player_round_kills_text
                .player_nades
                  #player_nade1
                  #player_nade2
                  #player_nade3
                  #player_nade4
                .player_weapon_secondary
                  img#player_weapon_secondary_img
              .player_hindered
                .flashed
                  #flashed_level
                .burning
                  #burning_level
              .player_dead
                .player_dead_k
                  #player_dead_kills_k K
                  #player_dead_kills_text 99
                .player_dead_a
                  #player_dead_assists_a A
                  #player_dead_assists_text 99
                .player_dead_d
                  #player_dead_deaths_d D
                  #player_dead_deaths_text 99
            .player_spec
              #player_spec_bar
            .player_stats_holder
              .player_stats
                .player_kills
                  #player_kills_k K
                  #player_kills_text 99
                .player_assists
                  #player_assists_a A
                  #player_assists_text 99
                .player_deaths
                  #player_deaths_d D
                  #player_deaths_text 99
                .player_spent
                  #player_spent_text -$8450
          #player5
            .player_main_holder
              .player_side_bar
              .player_image_holder
                img#player_image
              .player_section_top
                .player_health_bar
                .player_health
                  #player_health_text 100
                .player_alias
                  #player_alias_text 1| Player Name Here
                .player_weapon_primary
                  img#player_weapon_primary_img
              .player_section_bottom
                .player_armor
                  #player_armor_image
                .player_bomb_kit
                  #player_bomb_kit_image
                .player_current_money
                  #player_current_money_text $16000
                .player_round_kills
                  #player_skull
                  #player_round_kills_text
                .player_nades
                  #player_nade1
                  #player_nade2
                  #player_nade3
                  #player_nade4
                .player_weapon_secondary
                  img#player_weapon_secondary_img
              .player_hindered
                .flashed
                  #flashed_level
                .burning
                  #burning_level
              .player_dead
                .player_dead_k
                  #player_dead_kills_k K
                  #player_dead_kills_text 99
                .player_dead_a
                  #player_dead_assists_a A
                  #player_dead_assists_text 99
                .player_dead_d
                  #player_dead_deaths_d D
                  #player_dead_deaths_text 99
            .player_spec
              #player_spec_bar
            .player_stats_holder
              .player_stats
                .player_kills
                  #player_kills_k K
                  #player_kills_text 99
                .player_assists
                  #player_assists_a A
                  #player_assists_text 99
                .player_deaths
                  #player_deaths_d D
                  #player_deaths_text 99
                .player_spent
                  #player_spent_text -$8450
      #players_right
        #box_section
          #box_top
            #box_img
              img#box_image
            #box_main
              #main_primary
              #main_secondary
          #box_utility
            .box_heading
              #box_heading_text Nivel de Utilidad
              #box_heading_subtext - Poor
            .box_grenades
              .box_nade_1
                #util_nade_1
                #util_nade_1_count x0
              .box_nade_2
                #util_nade_2
                #util_nade_2_count x0
              .box_nade_3
                #util_nade_3
                #util_nade_3_count x0
              .box_nade_4
                #util_nade_4
                #util_nade_4_count x0
          #box_monetary
            .box_equip_value
              #equip_text Valor del equipo
              #equip_value $41250
            .box_team_money
              #money_text Dinero
              #money_value $80000
            .loss_bonus
              .loss_boxes
                .loss_4
                .loss_3
                .loss_2
                .loss_1
              #loss_text Bono
              #loss_value $1900
        #player_section
          #player1
            .player_main_holder
              .player_side_bar
              .player_image_holder
                img#player_image
              .player_section_top
                .player_health_bar
                .player_health
                  #player_health_text 100
                .player_alias
                  #player_alias_text 1| Player Name Here
                .player_weapon_primary
                  img#player_weapon_primary_img
              .player_section_bottom
                .player_armor
                  #player_armor_image
                .player_bomb_kit
                  #player_bomb_kit_image
                .player_current_money
                  #player_current_money_text $16000
                .player_round_kills
                  #player_skull
                  #player_round_kills_text
                .player_nades
                  #player_nade1
                  #player_nade2
                  #player_nade3
                  #player_nade4
                .player_weapon_secondary
                  img#player_weapon_secondary_img
              .player_hindered
                .burning
                  #burning_level
                .flashed
                  #flashed_level
              .player_dead
                .player_dead_k
                  #player_dead_kills_k K
                  #player_dead_kills_text 99
                .player_dead_a
                  #player_dead_assists_a A
                  #player_dead_assists_text 99
                .player_dead_d
                  #player_dead_deaths_d D
                  #player_dead_deaths_text 99
            .player_spec
              #player_spec_bar
            .player_stats_holder
              .player_stats
                .player_kills
                  #player_kills_k K
                  #player_kills_text 99
                .player_assists
                  #player_assists_a A
                  #player_assists_text 99
                .player_deaths
                  #player_deaths_d D
                  #player_deaths_text 99
                .player_spent
                  #player_spent_text -$8450
          #player2
            .player_main_holder
              .player_side_bar
              .player_image_holder
                img#player_image
              .player_section_top
                .player_health_bar
                .player_health
                  #player_health_text 100
                .player_alias
                  #player_alias_text 1| Player Name Here
                .player_weapon_primary
                  img#player_weapon_primary_img
              .player_section_bottom
                .player_armor
                  #player_armor_image
                .player_bomb_kit
                  #player_bomb_kit_image
                .player_current_money
                  #player_current_money_text $16000
                .player_round_kills
                  #player_skull
                  #player_round_kills_text
                .player_nades
                  #player_nade1
                  #player_nade2
                  #player_nade3
                  #player_nade4
                .player_weapon_secondary
                  img#player_weapon_secondary_img
              .player_hindered
                .burning
                  #burning_level
                .flashed
                  #flashed_level
              .player_dead
                .player_dead_k
                  #player_dead_kills_k K
                  #player_dead_kills_text 99
                .player_dead_a
                  #player_dead_assists_a A
                  #player_dead_assists_text 99
                .player_dead_d
                  #player_dead_deaths_d D
                  #player_dead_deaths_text 99
            .player_spec
              #player_spec_bar
            .player_stats_holder
              .player_stats
                .player_kills
                  #player_kills_k K
                  #player_kills_text 99
                .player_assists
                  #player_assists_a A
                  #player_assists_text 99
                .player_deaths
                  #player_deaths_d D
                  #player_deaths_text 99
                .player_spent
                  #player_spent_text -$8450     
          #player3
            .player_main_holder
              .player_side_bar
              .player_image_holder
                img#player_image
              .player_section_top
                .player_health_bar
                .player_health
                  #player_health_text 100
                .player_alias
                  #player_alias_text 1| Player Name Here
                .player_weapon_primary
                  img#player_weapon_primary_img
              .player_section_bottom
                .player_armor
                  #player_armor_image
                .player_bomb_kit
                  #player_bomb_kit_image
                .player_current_money
                  #player_current_money_text $16000
                .player_round_kills
                  #player_skull
                  #player_round_kills_text
                .player_nades
                  #player_nade1
                  #player_nade2
                  #player_nade3
                  #player_nade4
                .player_weapon_secondary
                  img#player_weapon_secondary_img
              .player_hindered
                .burning
                  #burning_level
                .flashed
                  #flashed_level
              .player_dead
                .player_dead_k
                  #player_dead_kills_k K
                  #player_dead_kills_text 99
                .player_dead_a
                  #player_dead_assists_a A
                  #player_dead_assists_text 99
                .player_dead_d
                  #player_dead_deaths_d D
                  #player_dead_deaths_text 99
            .player_spec
              #player_spec_bar
            .player_stats_holder
              .player_stats
                .player_kills
                  #player_kills_k K
                  #player_kills_text 99
                .player_assists
                  #player_assists_a A
                  #player_assists_text 99
                .player_deaths
                  #player_deaths_d D
                  #player_deaths_text 99
                .player_spent
                  #player_spent_text -$8450
          #player4
            .player_main_holder
              .player_side_bar
              .player_image_holder
                img#player_image
              .player_section_top
                .player_health_bar
                .player_health
                  #player_health_text 100
                .player_alias
                  #player_alias_text 1| Player Name Here
                .player_weapon_primary
                  img#player_weapon_primary_img
              .player_section_bottom
                .player_armor
                  #player_armor_image
                .player_bomb_kit
                  #player_bomb_kit_image
                .player_current_money
                  #player_current_money_text $16000
                .player_round_kills
                  #player_skull
                  #player_round_kills_text
                .player_nades
                  #player_nade1
                  #player_nade2
                  #player_nade3
                  #player_nade4
                .player_weapon_secondary
                  img#player_weapon_secondary_img
              .player_hindered
                .burning
                  #burning_level
                .flashed
                  #flashed_level
              .player_dead
                .player_dead_k
                  #player_dead_kills_k K
                  #player_dead_kills_text 99
                .player_dead_a
                  #player_dead_assists_a A
                  #player_dead_assists_text 99
                .player_dead_d
                  #player_dead_deaths_d D
                  #player_dead_deaths_text 99
            .player_spec
              #player_spec_bar
            .player_stats_holder
              .player_stats
                .player_kills
                  #player_kills_k K
                  #player_kills_text 99
                .player_assists
                  #player_assists_a A
                  #player_assists_text 99
                .player_deaths
                  #player_deaths_d D
                  #player_deaths_text 99
                .player_spent
                  #player_spent_text -$8450
          #player5
            .player_main_holder
              .player_side_bar
              .player_image_holder
                img#player_image
              .player_section_top
                .player_health_bar
                .player_health
                  #player_health_text 100
                .player_alias
                  #player_alias_text 1| Player Name Here
                .player_weapon_primary
                  img#player_weapon_primary_img
              .player_section_bottom
                .player_armor
                  #player_armor_image
                .player_bomb_kit
                  #player_bomb_kit_image
                .player_current_money
                  #player_current_money_text $16000
                .player_round_kills
                  #player_skull
                  #player_round_kills_text
                .player_nades
                  #player_nade1
                  #player_nade2
                  #player_nade3
                  #player_nade4
                .player_weapon_secondary
                  img#player_weapon_secondary_img
              .player_hindered
                .burning
                  #burning_level
                .flashed
                  #flashed_level
              .player_dead
                .player_dead_k
                  #player_dead_kills_k K
                  #player_dead_kills_text 99
                .player_dead_a
                  #player_dead_assists_a A
                  #player_dead_assists_text 99
                .player_dead_d
                  #player_dead_deaths_d D
                  #player_dead_deaths_text 99
            .player_spec
              #player_spec_bar
            .player_stats_holder
              .player_stats
                .player_kills
                  #player_kills_k K
                  #player_kills_text 99
                .player_assists
                  #player_assists_a A
                  #player_assists_text 99
                .player_deaths
                  #player_deaths_d D
                  #player_deaths_text 99
                .player_spent
                  #player_spent_text -$8450